

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #000945d6!important;
  color: rgb(255, 255, 255)!important;
  overflow-x: hidden;
}

a {
  color: #080099;
  text-decoration: none;
}

a:hover {
  color: #0025cc;
  text-decoration: none;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: large;
 
}
h2, h3, h4, h5, h6{
  font-family: 'Quattrocento Sans', sans-serif;
}
h3 {
  
  color: rgb(53, 166, 247);
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #080099ea;
}
#header.header-scrolled, #header.header-inner-pages {
  background: rgba(0, 0, 0, 0.9);
}
#header .logo {
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.5px;
}
#header .logo a {
  color: rgb(86, 108, 255);
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #000899;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.get-started-btn:hover {
  background: #00b371;
  color: #fff;
}
@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #D5CDCC;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #080099ea;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: rgb(153, 199, 255);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #f9f9f9;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
@media (min-width:1000px){
  .nav > .nav-links {
    margin-left: 10%;
  } 
}
@media (max-width:800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .cards-wrapper {
    display: block!important;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  #header{
    max-width: 100%;}
  #navbar{
    display: none;
  }
  
}
 

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Roberto.jpg") top center;
  background-size: 100vw;
  background-repeat:space;
  position: relative;
}


#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 72px;
  position: relative;
  text-align: center;
}

 
/*==================== 
 # Reproductor
====================== */
#reproductorPadre{
  background: url("../img/Roberto2.jpg") 70%;
  padding: 20px;
}
#reproductorHijo{
  
  background-size: cover;
  padding: 3%;
  background-repeat: no-repeat;
  display: flex;
  text-align: center!important;
  
}
#reproductorTexto{
  margin-left: 4%;
  background-color: #00000089;
  padding: 2%;
  width: 90%;
  margin-bottom: 50px!important;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  height: 200px;

}

#reproductor {
  
  display: block;
  width: 100%;
  
 
}

#selectTrack{ 
  border-color: #0f0f0f;
  border: 7px solid #4c597800;
  width: 90%;
  height:230px!important;
  font-size: large;
 color: #ffffff;
  background: url("../img/Espejos.jpg") center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
#selectTrack2{ 
  margin-left: 0%!important;
  border-color: #0f0f0f;
  border: 7px solid #4c597800;
  width: 90%;
  height:230px!important;
  font-size: large;
 color: #ffffff;
  background: url("../img/fondo1.jpg") center;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}
 #reproductorBox{
  background-color: #0f0f0f;
  padding: 2vw;
  max-width: 50%;
  transform: translate(45%);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
 }
/*==================== 
 # SOBRE MÚSICA
====================== */

#sobreMusicaCont{
  margin-top: 3%!important;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background-color: #00000089;
  text-align: start!important;
}


/*==================== 
 # SOBRE ROBERTO
====================== */

#sobreRoberto{
  margin-top: 50px;
  margin-bottom: 70px ;

}



/*==================== 
 # DISCOS
====================== */

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}



a {
  color: inherit;
}

.cards-wrapper {

  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  width: max-content;

}

.cardDiscos {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 7px solid #ccc;
  text-decoration: none;
  margin: 70px!important;
}

.cardDiscos:hover {
  transform: rotate(0);
}

.cardDiscos h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.cardDiscos p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.cardDiscos .tags {
  display: flex;
}

.cardDiscos .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.cardDiscos:hover .tags .tag {
  background: var(--color);
  color: white;
}

.cardDiscos .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.cardDiscos:before, .cardDiscos:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.cardDiscos:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.cardDiscos:after {
  background: white;
  width: 200%;
  height: 200%;
}

.cardDiscos:hover {
  color: var(--color);
}

.cardDiscos:hover:before, .cardDiscos:hover:after {
  transform: scale(1);
}

.cardDiscos-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
    margin: 0px!important;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    display: block!important;
  }
  .info {
    justify-content: center;
  }
  .cardDiscos-grid-space .num {
    margin-left: 0;
    text-align: center;
    display: block!important;
  }
  #discos{
    display: block!important;
  }
  .cardDiscos-grid-space{
    display: block!important;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .cardDiscos {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}



#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  margin-bottom: 10%;
}
#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  #hero {
    background-size: cover;
  }
  #reproductorTexto{
    width: 95vw!important;
    margin-top: 20px;
    margin-left: -20px;
  }
  #hero h2 {
    transform:scale(0.7);
  top: 0px;
  }
  #sobreMusicaCont{
    display: block;
    width: 100%;
    margin-left: 0px!important;
  }
  #reproductor{
    margin-left: 0%;
    width: 95vw!important;
  }
  
  #selectTrack{
    width: 95vw!important;
    margin-left: -20px!important;
  }
  #selectTrack2{
    width: 95vw!important;
    margin-left: -20px!important;
  }
  h2{
    transform: scale(0.7);
  }
  #reproductorPadre{
    text-align: center;
    display: block!important;
    margin-left: 0%!important;
  }
  #reproductorHijo{
    text-align: center;
    display: block!important;
   background-repeat: repeat;
  }
  h4{
    margin-top: 15px;
    width: 100vw;
    margin-left: -30px;
  }
  #reproductorBox{
    transform: translate(-10%);
    padding: 0vw!important;
  }
}
/*==================== 
 # Videos
====================== */
#videosContainer{
  background-image: url("../img/RobertoVivo.jpg");
  background-size: contain;
  padding: 5%;
}


/*--------------------------------------------------------------
# AboutRoberto
--------------------------------------------------------------*/

.title {
 
  margin-bottom: 50px;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
   
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  background-color: #404040;
}
.carousel-indicators .active {
  background-color: white;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}
.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
margin-top: auto;
}


/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer{  padding: 60px 0;  background: #252525;}
footer ul{  padding-left: 0;  list-style: none;}

/* Copy Right Footer */
.footer-copyright { background: #222; padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {  list-style: none; margin: 0;  padding: 0;}
.footer-copyright nav ul li { border-left: 1px solid #505050; display: inline-block;  line-height: 12px;  margin: 0;  padding: 0 8px;}
.footer-copyright nav ul li a{  color: #969696;}
.footer-copyright nav ul li:first-child { border: medium none;  padding-left: 0;}
.footer-copyright p { color: #969696; margin: 2px 0 0;}

/* Footer Top */
.footer-top{  background: #252525;  padding-bottom: 30px; margin-bottom: 30px;  border-bottom: 3px solid #222;}

/* Footer transparent */
footer.transparent .footer-top, footer.transparent .main-footer{  background: transparent;}
footer.transparent .footer-copyright{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}

/* Footer light */
footer.light .footer-top{ background: #f9f9f9;}
footer.light .main-footer{  background: #f9f9f9;}
footer.light .footer-copyright{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}

/* Footer 4 */
.footer- .logo {    display: inline-block;}

/*==================== 
  Widgets 
====================== */
.widget{  padding: 20px;  margin-bottom: 40px;}
.widget.widget-last{  margin-bottom: 0px;}
.widget.no-box{ padding: 0; background-color: transparent;  margin-bottom: 40px;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{  margin-bottom: 18px;}
.widget li a{ color: #4b92dc;}
.widget li a:hover{ color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{ float: right; background: #7f7f7f;}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{  color: #fff;}

ul.social-footer2 { margin: 0;padding: 0; width: auto;}
ul.social-footer2 li {display: inline-block;padding: 0;}
ul.social-footer2 li a:hover {background-color:#ff8d1e;}
ul.social-footer2 li a {display: block; height:30px;width: 30px;text-align: center;}
.btn{background-color: #b80000; color:#fff;}
.btn:hover, .btn:focus, .btn.active {background: #9dccff;color: #fff;
-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
-webkit-transition: all 250ms ease-in-out 0s;
-moz-transition: all 250ms ease-in-out 0s;
-ms-transition: all 250ms ease-in-out 0s;
-o-transition: all 250ms ease-in-out 0s;
transition: all 250ms ease-in-out 0s;

}